<!DOCTYPE html>
<html>
    
<head>
    <link rel="shortcut icon" type="image/png" href="../images/076953-black-ink-grunge-stamp-textures-icon-business-cart-solid.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="appstylesheet.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Alfa+Slab+One&effect=destruction|shadow-multiple|wallpaper">
<!-- Scripts/Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
    
    <!-- ng-app Declared -->
<body ng-app="booted">
    <script src="app.js"></script>
<!-- Header Begin -->
    <header>
        <h1 class="font-effect-destruction font-effect-shadow-multiple">Booted</h1>
    <div align="right" class="main-div jumbotron">
        <h2 align="right">Do the Homework</h2>
        <p align="right">plan your future.</p>
        <div>
<!-- Sign-In Button -->
        <a href="./signin.html"><button type="button" class="btn btn-default navbar">Sign in</button></a>
        </div>
    </div>
    </header>
    <div id="main">
	<!-- The navigation menu will get the value of the "active" variable as a class.
		 The $event.preventDefault() stops the page from jumping when a link is clicked. -->

	   <nav class="{{active}}" ng-click="$event.preventDefault()">
		<!-- When a link in the menu is clicked, we set the active variable -->
           <h2>
           <a href="#" class="vote" ng-click="active='vote'">Vote</a>
		   <a href="#" class="list" ng-click="active='list'">List</a>
		   <a href="#" class="comment" ng-click="active='comment'">Comment</a>
            </h2>
	   </nav>

	   <!-- ng-show will show an element if the value in the quotes meis truthful,
		 & ng-hide does the opposite. If active variable is not set
		 initially, first paragraph will display. -->
	   <p ng-hide="active">Train hard and get it done</p>
	   <p ng-show="active">We Believe in You</p>
        <!-- Insert top returned li results between emphasis<em> tags maybe? -->    
    </div>
    
    <!-- Initializes new search controller and associates it with "boote" module-->
    <div ng-controller="InstantSearchController">

<!--
	<div class="bar">
		 Creates binding between searchString model and text field, figure out how to include images in search box. Is it possible?? 
		<input type="text" ng-model="searchString" placeholder="  plan your future..."/>
	</div>
-->

	<ul>
		<!-- Renders a li element for every entry in the returned items array. 
			 Custom search filter "searchFor" takes the value of the
			 searchString model as an argument.
		 -->
		<li ng-repeat="b in bootcampList">
			<a href="{{b.url}}"><img ng-src="{{b.image}}" /></a>
            <!-- paragraph below should display title of item w/pic & url-->
			<p>{{b.title}}</p>
		</li>
	</ul>
</div>
    
    <!-- Fun Script Below For Users Opening The Console -->
    <script>
        if (window.console){
            console.log('Hey human! we want MORE of your kid of people. Come join us - https://booted.com/careers');
        }
    </script>
    
</body>
</html>