<!DOCTYPE html>
<html>
    
<head>
    <link rel="shortcut icon" type="image/png" href="../images/title_icon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/appstylesheet.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Alfa+Slab+One&effect=destruction|shadow-multiple|wallpaper">
<!-- Scripts/Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
    
    <!-- ng-app Declared -->
<body ng-app="booted">
    <script src="../app.js"></script>
    <script src="../js/FakeVotingNotWorthy.js"></script>
<!-- Header Begin -->
    <header>
        <h1 class="font-effect-destruction font-effect-shadow-multiple">Boot/ed</h1>

    <div align="right" class="main-div jumbotron">
        <h2 align="right">Do the Homework</h2>
        <p align="right">plan your future.</p>

    </div>
    </header>
    
    <div id="main">
	<!-- The navigation menu will get the value of the "active" variable as a class.
		 The $event.preventDefault() stops the page from jumping when a link is clicked. -->

	   <nav class="{{active}}" ng-click="$event.preventDefault()">
		<!-- When a link in the menu is clicked, we set the active variable -->
           <h2>
               <a href="#" class="about" ng-click="active='about'">Our Mission</a>
            </h2>
	   </nav>
               
	   <p ng-hide="active">Train hard and get it done</p>
	   <p ng-show="active">Is To Believe in You</p>
       
    </div>
  
    <script src="../js/FakeVotingNotWorthy.js"></script>
    <center>
        <img src="../images/bootcamp_images/makersquare.png">
        <h3>A program designed to teach you CS fundamentals and software engineering</h3>
        <div ng-controller="FakeVotingNotWorthyCtrl">
            <button class="btn btn-lg btn-primary btn-block" ng-click="love = love + 1">Show The Love</button>
            <div>
                Loves:  {{love}}
            </div>
        </div>
    </center>

</body>
</html>