<!DOCTYPE html>
<html>
    
<head>
    <link rel="shortcut icon" type="image/png" href="../images/title_icon.png">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../appstylesheet.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Alfa+Slab+One&effect=destruction|shadow-multiple|wallpaper">
<!-- Scripts/Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
    
    <!-- ng-app Declared -->
<body ng-app="booted">
    <script src="../app.js"></script>
<!-- Header Begin -->
    <header>
        <h1 class="font-effect-destruction font-effect-shadow-multiple">Boot/ed</h1>

    <div align="right" class="main-div jumbotron">
        <h2 align="right">Do the Homework</h2>
        <p align="right">plan your future.</p>

    </div>
    </header>
    
    <div id="main">
	<!-- The navigation menu will get the value of the "active" variable as a class.
		 The $event.preventDefault() stops the page from jumping when a link is clicked. -->

	   <nav class="{{active}}" ng-click="$event.preventDefault()">
		<!-- When a link in the menu is clicked, we set the active variable -->
           <h2>
           <a href="#" class="about" ng-click="active='about'">Our Mission</a
            </h2>
	   </nav>
               
	   <p ng-hide="active">Train hard and get it done</p>
	   <p ng-show="active">Is To Believe in You</p>
       
    </div>
   

	<ul ng-controller="bootListController">
		<!-- Renders a li element for every entry in the returned items array. 
			 Custom search filter "searchFor" takes the value of the
			 searchString model as an argument.
		 -->
		<li ng-model="b in bootcampList">
			<a href="{{b.url}}"><img ng-src="{{b.image}}" /><p>{{b.title}}</p></a>
            <!-- paragraph below should display title of item w/pic & url-->
			
		</li>
	</ul>
</div>

</body>
</html>